{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'vendor/css/style.css' %}">

    <script src="https://unpkg.com/htmx.org@1.7.0"
        integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous"
        defer></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top" style="position: relative;">
        <div class="container-fluid">
            <a class="navbar-brand text-white " href="{% url 'index' %}">Video Stremming Site</a>
            <div class="navbar-nav ms-auto" id="navbarSupportedContent">
                <form class="d-flex">
                    {% csrf_token %}
                    <input class="form-control me-2 " type="search" name="title" hx-post="{% url 'search_results' %}"
                        hx-trigger="keyup" hx-target="#search-results" hx-swap="innerHTML" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-outline-success" hx-post="{% url 'search_results' %}" hx-trigger="click"
                        hx-target="#search-results" hx-swap="innerHTML" type="submit">Search</button>
                </form>
            </div>
        </div>
        <style>
            #search-results {
                width: 400px;
                position: absolute;
                z-index: 9999;
                right: 0.5rem;
                top: 100%;
            }
        </style>
        <ul class="list-group d-flex justify-content-end" id="search-results">

        </ul>
    </nav>

    {% block content %}


    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>